.logo {
  width: 150px;
  margin-top: 10px;
}
body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f4f9f6;
  color: #222;
}
header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.producto {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-color: white;
  max-width: 300px;
}
.producto img {
  max-width: 100%;
  border-radius: 6px;
}
